body > .jaw-table-wrapper {
    margin-left: 10px;
    width: calc(100% - 20px);
}

.jaw-message-wrapper {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 2000;
}

.jaw-table .glyphicon-refresh:hover, .glyphicon-repeat:hover {
    -webkit-animation: spin 1s linear infinite;
       -moz-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
                transform:rotate(360deg);
    }
}

*.unselectable {
    -webkit-user-select:      none;
     -khtml-user-select:      none;
       -moz-user-select: -moz-none;
        -ms-user-select:      none;
            user-select:      none;
}