<!DOCTYPE HTML>
<html>
<head>
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
</head>
<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/script.js"></script>
<body>
<div class="form-centered">
    <div class="form container">
        <div class="logo-wrapper container">
            <div class="logo container"></div>
        </div>
        <div class="login container">
            <h1>404</h1>
        </div>
    </div>
</div>
</body>
</html>