<style>
    body {
        background: lightgray url("/jaw/images/pattern.png");
        background-attachment: fixed;
        background-position: 0 0;
    }
</style>
<div class="row vertical-center">
    <div class="container logo-form col-md-3 radius-5">
        <div class="logo-wrapper">
            <div class="logo container col-xs-12"></div>
        </div>
        <div class="login center" id="login">
            <div class="col-md-12 denied-wrapper">
                <img src="/jaw/images/access-denied.png" width="100%">
            </div>
        </div>
    </div>
</div>