<script type="text/javascript" src="/jaw/scripts/project.js"></script>
<div class="maximum-parent background">
    <table class="hundred-percents"><tr><td>
        <div class="col-md-12">
            <div class="logo-form col-md-4 col-md-offset-4">
                <div class="logo-wrapper">
                    <div class="logo col-xs-12"></div>
                </div>
                <div class="login center" id="project">
                    <div class="col-xs-12 index-project-wrapper">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" id="create-company">
                                <a href="#"><b>Создать компанию</b></a>
                            </li>
                            <li role="presentation" id="join-company">
                                <a href="#"><b>Вступить в компанию</b></a>
                            </li>
                            <li role="presentation" id="create-project">
                                <a href="#"><b>Создать проект</b></a>
                            </li>
                            <li role="presentation" id="join-project">
                                <a href="#"><b>Вступить в проект</b></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 index-project-wrapper">
                        <ul class="nav nav-pills nav-stacked index-project-list"></ul>
                    </div>
                    <button class="btn btn-danger logout">Выйти</button>
                    <button class="btn btn-primary index-project-start active" data-loading-text="Начинаем...">Начать работу</button>
                </div>
            </div>
        </div>
    </td></tr></table>
    <img class="god-button" src="/jaw/images/god-2.png">
</div>