<script type="text/javascript" src="/jaw/scripts/index.js"></script>
<style>
    body {
        background: lightgray url("/jaw/images/pattern.png");
        background-attachment: fixed;
        background-position: 0 0;
    }
</style>
<div class="row vertical-center">
    <div class="container logo-form col-md-3 radius-5">
        <div class="logo-wrapper">
            <div class="logo container col-xs-12"></div>
        </div>
        <div class="login center" id="login">
            <div class="col-md-12">
                <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                </span>
                    <input type="text" class="form-control login-login" placeholder="Логин">
                </div>
                <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
                    <input type="password" class="form-control login-password" placeholder="Пароль">
                </div>
            </div>
            <button class="btn btn-default login-register" style="width: 40%;">Регистрация</button>
            <button class="btn btn-default login-submit" style="width: 40%;">Вход</button>
        </div>
    </div>
</div>