<script type="text/javascript" src="/jaw/scripts/system.js"></script>
<div class="jaw-form form-register-ticket"></div>
<script type="text/javascript">
    $(document).ready(function() {
        Jaw.createForm(".form-register-ticket", {
            form: "Ticket",
            id: "modal-register-ticket",
            title: "Создать задачу",
            url: "/jaw/tracker/getForm",
            fields: [
                {
                    id: "name",
                    name: "Название",
                    type: "text"
                }, {
                    id: "owner_id",
                    name: "Владелец",
                    type: "number"
                }, {
                    id: "precedence",
                    name: "Приоритет",
                    type: "dropdown",
                    value: [
                        0, 1, 2, 3, 4, 5
                    ]
                }, {
                    id: "product_id",
                    name: "Продукт",
                    type: "number"
                }, {
                    id: "project_id",
                    name: "Проект",
                    type: "number"
                }, {
                    id: "parent_id",
                    name: "Родительская задача",
                    type: "number"
                }, {
                    id: "description",
                    name: "Описание",
                    type: "textarea"
                }
            ],
            buttons: [
                {
                    class: "btn btn-primary",
                    text: "Создать"
                }
            ]
        });
        $(".form-register-ticket div.modal").modal();
    });
</script>
<div class="system-container">
    <br><br><br>
    <table class="table table-striped table-bordered ticket-table">
        <thead>
        <tr>
            <td><b>Номер</b></td>
            <td><b>Название</b></td>
            <td><b>Проект</b></td>
            <td><b>Приоритет</b></td>
            <td><b>Создан</b></td>
        </tr>
        </thead>
        <tbody> {{{ SYSTEM_CURRENT_TICKET_TABLE }}} </tbody>
    </table>
    {{{ SYSTEM_TICKET_CREATE_BUTTON }}}
</div>