<script type="text/javascript" src="/jaw/content/scripts/index.js"></script>
<div class="maximum-parent background">
    <table class="hundred-percents"><tr><td>
    <div class="col-md-12">
    <div class="logo-form col-md-4 col-md-offset-4">
        <div class="logo-wrapper">
            <div class="logo col-xs-12"></div>
        </div>
        <div class="login" id="login">
            <div class="col-md-12">
                <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                </span>
                    <input type="text" class="form-control login-login" placeholder="Логин">
                </div>
                <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
                    <input type="password" class="form-control login-password" placeholder="Пароль">
                </div>
            </div>
            <button class="btn btn-default login-register" style="width: 40%;">Регистрация</button>
            <button class="btn btn-default login-submit" style="width: 40%;">Вход</button>
        </div>
    </div>
    </div>
    </td></tr></table>
</div>