<script type="text/javascript" src="/jaw/scripts/system.js"></script>
{{{ SYSTEM_MENU }}}
{{{ SHOW_REQUEST }}}
<div class="system-container">
	<br><br><br>
    <div class="panel panel-default panel-ticket">
        <div class="panel-heading">
			<b>Текущие задачи</b>
		</div>
        <div class="panel-body">
            {{{ TRACKER_CURRENT }}}
        </div>
    </div>
    <div class="panel panel-default panel-ticket">
        <div class="panel-heading">
            <b>Все задачи</b>
        </div>
        <div class="panel-body">
            {{{ TRACKER_COMPANY }}}
        </div>
    </div>
	#if ($this.checkAccess("ticket/register"))
		$this.runWidget("Modal", "{
			id: 'register-ticket-modal',
			title: 'Регистрация задачи',
			buttons: [
				{
					text: 'Отправить',
					id: 'register-ticket-modal-submit',
					cls: 'btn btn-primary'
				}
			],
			form: {
				form: 'Ticket',
				id: 'register-ticket-form',
				action: '/jaw/ticket/register'
			},
			alias: 'REGISTER_TICKET_MODAL'
		}")
        {{{ REGISTER_TICKET_MODAL }}}
        <button class="btn btn-primary" data-toggle="modal" data-target="#register-ticket-modal">Создать задачу</button>
	#end
</div>