<script type="text/javascript" src="/jaw/scripts/system.js"></script>
{{{ SYSTEM_MENU }}}
{{{ SHOW_REQUEST }}}
<div class="system-container">
	<br><br><br>
	#if ($this.GET("action").equals("current"))
        {{{ TRACKER_CURRENT }}}
	#elseif ($this.GET("action").equals("company"))
        {{{ TRACKER_COMPANY }}}
	#elseif ($this.GET("action").equals("project"))
        {{{ TRACKER_PROJECT }}}
	#end
	#if ($this.checkAccess("ticket/register"))
		$this.runWidget("Modal", "{
			id: 'register-ticket-modal',
			title: 'Регистрация задачи',
			buttons: [
				{
					text: 'Отправить',
					id: 'register-ticket-modal-submit',
					cls: 'btn btn-primary'
				}
			],
			form: {
				form: 'Ticket',
				id: 'register-ticket-form',
				title: 'Регистрация задачи'
			},
			alias: 'REGISTER_TICKET_MODAL'
		}")
        {{{ REGISTER_TICKET_MODAL }}}
        <button class="btn btn-primary" data-toggle="modal" data-target="#register-ticket-modal">Создать задачу</button>
	#end
</div>