<style>
    body {
        background: lightgray url("/jaw/images/pattern.png");
        background-attachment: fixed;
        background-position: 0 0;
    }
</style>
<div class="row vertical-center">
    <div class="container logo-form col-md-3 radius-5">
        <div class="logo-wrapper">
            <div class="logo container col-xs-12"></div>
        </div>
        <div class="login center" id="project">
            <div class="col-xs-12 index-project-wrapper">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" id="create-company">
                        <a href="#"><b>Создать компанию</b></a>
                    </li>
                    <li role="presentation" id="join-company">
                        <a href="#"><b>Вступить в компанию</b></a>
                    </li>
                    <li role="presentation" id="create-project">
                        <a href="#"><b>Создать проект</b></a>
                    </li>
                    <li role="presentation" id="join-project">
                        <a href="#"><b>Вступить в проект</b></a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 index-project-wrapper">
                <ul class="nav nav-pills nav-stacked index-project-list"></ul>
            </div>
            <button type="submit" class="btn btn-danger index-project-exit">Выйти</button>
            <button class="btn btn-primary index-project-start active">Начать работу</button>
        </div>
    </div>
    <img class="god-button" src="/jaw/images/god.png">
</div>