<script type="text/javascript" src="/jaw/content/scripts/system.js"></script>
<div class="system-container">
    <br><br><br>
    <table class="table table-striped table-bordered ticket-table">
        <thead>
        <tr>
            <td><b>Номер</b></td>
            <td><b>Название</b></td>
            <td><b>Проект</b></td>
            <td><b>Приоритет</b></td>
            <td><b>Создан</b></td>
        </tr>
        </thead>
        <tbody> {{{ SYSTEM_TICKET_COMPANY_TABLE }}} </tbody>
    </table>
    {{{ SYSTEM_TICKET_CREATE_BUTTON }}}
</div>