<div class="jaw-table-wrapper">
    <div class="jaw-table jaw-table-company"></div>
</div>
<script>
    $(document).ready(function() {
        Jaw.createTable(".jaw-table-company", {
            header: [
                {
                    id: "company.id",
                    name: "#",
                    style: "width: 10px; text-align: center;"
                },  {
                    id: "company.name",
                    name: "Название",
                    style: "width: 100px"
                }, {
                    id: "company.director_id",
                    name: "Директор",
                    type: "number",
                    style: "width: 10px; text-align: center;"
                }, {
                    id: "company.id",
                    show: [
                        "employee.surname",
                        "employee.name",
                        "employee.patronymic"
                    ],
                    name: "Директор",
                    separator: " ",
                    href: "/jaw/admin/employee?id=employee.id"
                }
            ],
            table: "company",
            url: "/jaw/company/getTable"
        });
    });
</script>