<div class="jaw-table-wrapper">
    <div class="jaw-table jaw-table-employee"></div>
</div>
<script>
    $(document).ready(function() {
        Jaw.createTable(".jaw-table-employee", {
            header: [
                {
                    id: "employee.id",
                    name: "#",
                    style: "width: 10px; text-align: center;"
                },  {
                    id: "employee.surname",
                    name: "Фамилия"
                },  {
                    id: "employee.name",
                    name: "Имя"
                }, {
                    id: "employee.patronymic",
                    name: "Отчество"
                }, {
                    id: "employee.user_id",
                    name: "Пользователь",
                    show: "users.login",
                    type: "number"
                }, {
                    id: "employee.company_id",
                    name: "Компания",
                    show: "company.name",
                    type: "number"
                }
            ],
            table: "employee",
            url: "/jaw/employee/getTable"
        });
    });
</script>