<div class="jaw-table-wrapper">
    <div class="jaw-table jaw-table-group"></div>
</div>
<script>
    $(document).ready(function() {
        Jaw.createTable(".jaw-table-group", {
            header: [
                {
                    id: "groups.id",
                    name: "#",
                    style: "width: 10px; text-align: center;"
                },  {
                    id: "groups.name",
                    name: "Название",
                    style: "width: 200px;"
                },  {
                    id: "groups.description",
                    name: "Описание"
                }
            ],
            table: "group",
            url: "/jaw/group/getTable"
        });
    });
</script>