<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/jaw">
                <img src="/jaw/images/logo-small.png" width="35" height="22">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/jaw/admin/view" role="button">Главная</a></li>
                <li><a href="/jaw/admin/user" role="button">Пользователи</a></li>
                <li><a href="/jaw/admin/company" role="button">Компании</a></li>
                <li><a href="/jaw/admin/employee" role="button">Сотрудники</a></li>
                <li><a href="/jaw/admin/group" role="button">Группы</a></li>
                <li><a href="/jaw/admin/privilege" role="button">Привилегии</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="system-login">{{User.Login}}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Редактировать профиль</a></li>
                        <li><a href="/jaw/user/logout">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav><br><br><br>