<div class="jaw-table-wrapper">
    <div class="jaw-table jaw-table-privilege"></div>
</div>
<script>
    $(document).ready(function() {
        Jaw.createTable(".jaw-table-privilege", {
            header: [
                {
                    id: "privilege.id",
                    name: "Идентификатор",
                    style: "width: 175px; text-align: left;"
                },  {
                    id: "privilege.name",
                    name: "Название",
                    style: "width: 200px;"
                },  {
                    id: "privilege.description",
                    name: "Описание"
                }
            ],
            url: "/jaw/privilege/getTable"
        });
    });
</script>