{{{ ADMIN_MENU }}}
{{{ TABLE }}}
<div class="jaw-table-wrapper">
    <div class="jaw-table jaw-table-company"></div>
</div>
<script>
    $(document).ready(function() {
        Jaw.createTable(".jaw-table-company", {
            header: [
                {
                    id: "company.id",
                    name: "#",
                    style: "width: 10px; text-align: center;"
                }, {
                    id: "company.name",
                    name: "Название",
                    style: "width: 10px; text-align: center;"
                }, {
                    id: "company.director_id",
                    display: [
                        "employee.surname",
                        "employee.name",
                        "employee.patronymic"
                    ],
                    name: "Директор",
                    type: "number",
                    separator: " ",
                    url: "/jaw/employee/getTable"
                }
            ],
            reference: [
                {
                    id: "employee",
                    name: "Сотрудники",
                    display: [
                        "surname",
                        "name",
                        "patronymic"
                    ],
                    separator: " "
                }, {
                    id: "product",
                    name: "Продукты компании",
                    display: [
                        "name",
                        "created"
                    ],
                    separator: ", "
                }
            ],
            table: "company",
            url: "/jaw/company/getTable"
        });
    });
</script>