<div class="jaw-table-wrapper">
    <div class="jaw-table jaw-table-employee"></div>
</div>
<script>
    $(document).ready(function() {
        Jaw.createTable(".jaw-table-employee", {
            header: [
                {
                    id: "employee.id",
                    name: "#",
                    style: "width: 10px; text-align: center;"
                },  {
                    id: "employee.surname",
                    name: "Фамилия",
                    style: "width: 20%"
                },  {
                    id: "employee.name",
                    name: "Имя",
                    style: "width: 15%"
                }, {
                    id: "employee.patronymic",
                    name: "Отчество",
                    style: "width: 20%"
                }, {
                    id: "employee.user_id",
                    name: "Пользователь",
                    display: "users.login",
                    type: "number",
                    url: "/jaw/user/getTable",
                    style: "width: 15%"
                }, {
                    id: "employee.company_id",
                    name: "Компания",
                    display: "company.name",
                    type: "number",
                    url: "/jaw/company/getTable"
                }
            ],
            reference: [
                {
                    id: "users",
                    name: "Пользователь",
                    display: [
                        "login",
                        "email"
                    ],
                    separator: ", "
                }, {
                    id: "product",
                    name: "Продукты сотрудника",
                    display: [
                        "name",
                        "created"
                    ],
                    separator: ", "
                }, {
                    id: "groups",
                    name: "Группы сотрудника",
                    display: [
                        "description"
                    ],
                    separator: ", "
                }, {
                    id: "privilege",
                    name: "Привилегии сотрудника",
                    display: [
                        "description"
                    ],
                    separator: ", "
                }
            ],
            table: "employee",
            url: "/jaw/employee/getTable"
        });
    });
</script>