<nav class="navbar navbar-default navbar-fixed-top system-menu" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/jaw/system/view">
                <img src="/jaw/content/images/logo-small.png" width="35" height="20">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- Проект -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="system-login">Проект</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Создать файл</a></li>
                        <li><a href="#">Открыть файл</a></li>
                        <li><a href="#">Удалить файл</a></li>
                    </ul>
                </li>
                <!-- Компания -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Компания</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Сотрудники</a></li>
                        <!--<li class="divider"></li>-->
                    </ul>
                </li>
                <!-- Управление -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Управление</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Создать</a></li>
                        <li><a href="#">Открыть</a></li>
                        <li><a href="#">Удалить</a></li>
                        <!--<li class="divider"></li>-->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Задачи <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/jaw/tracker/current">Текущие</a></li>
                        <li><a href="/jaw/tracker/company">Компания</a></li>
                        <li><a href="/jaw/tracker/project">Проект</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="btn-notification" type="button" href="javascript:void(0)">Уведомления <span style="background-color: #2c82af" class="badge">{{ EMPLOYEE_NOTIFICATION_COUNT }}</span></a></li>
                <li><a id="btn-request" type="button" href="javascript:void(0)">Запросы <span style="background-color: #2c82af" class="badge">{{ EMPLOYEE_REQUEST_COUNT }}</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="system-login">{{USER_LOGIN}}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Настройки</a></li>
                        <!--<li><a href="javascript:void(0)" class="dark-interface">-->
                            <!--<div>Инверсия</div>-->
                        <!--</a></li>-->
                        <li><a class="employee-logout" href="javascript:void(0)">Закрыть сессию</a></li>
                        <li><a class="logout" href="javascript:void(0)">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="col-md-12 hidden" id="request-table">
    <table class="table">
        <thead> {{{ EMPLOYEE_REQUEST_TABLE }}} </thead>
    </table>
</div>
<div class="col-md-12 hidden" id="notification-table">
    <table class="table">
        <thead> {{{ EMPLOYEE_NOTIFICATION_TABLE }}} </thead>
    </table>
</div>