<div class="modal fade" id="modal-jaw-table-edit">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Редактировать элемент</h4>
            </div>
            <div class="modal-body jaw-table-form"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" data-loading-text="Сохранение..." id="jaw-table-save">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-jaw-table-delete">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Удалить элемент?</h4>
            </div>
            <div class="modal-body jaw-table-form"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-danger" data-loading-text="Удаление..." id="jaw-table-delete">Удалить</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-jaw-table-add">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Создать элемент</h4>
            </div>
            <div class="modal-body jaw-table-form"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" data-loading-text="Добавление..." id="jaw-table-add">Добавить</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-jaw-table-reference">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Зависимости</h4>
            </div>
            <div class="modal-body jaw-table-form"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>