<div class="modal fade" id="modal-join-project">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Вступить в проект</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group required">
                        <label class="col-md-offset-2 col-md-3 control-label">Компания</label>
                        <div class="col-md-5">
                            <div class="dropdown">
                                <select class="form-control" id="company" title="">
                                    <option value="-1">Нет</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <img src="/jaw/images/ajax-loader.gif" class="ajax-loader">
                        </div>
                    </div><br><br>
                    <div class="form-group required">
                        <label class="col-md-offset-2 col-md-3 control-label">Проект</label>
                        <div class="col-md-5">
                            <div class="dropdown">
                                <select class="form-control" id="project" title="">
                                    <option value="-1">Нет</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <img src="/jaw/images/ajax-loader.gif" class="ajax-loader">
                        </div>
                    </div><br><br>
                    <div class="form-group required">
                        <label class="col-md-offset-2 col-md-3 control-label">Получатель</label>
                        <div class="col-md-5">
                            <div class="dropdown">
                                <select class="form-control" id="leader" title="">
                                    <option value="-1">Нет</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <img src="/jaw/images/ajax-loader.gif" class="ajax-loader">
                        </div>
                    </div><br><br>
                    <div class="form-group required">
                        <label class="col-md-offset-2 col-md-3 control-label">Отправитель</label>
                        <div class="col-md-5">
                            <div class="dropdown">
                                <select class="form-control" id="sender" title="">
                                    <option value="-1">Нет</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <img src="/jaw/images/ajax-loader.gif" class="ajax-loader">
                        </div>
                    </div><br><br>
                    <div class="form-group">
                        <label class="col-md-offset-2 col-md-3 control-label">Сообщение</label>
                        <div class="col-md-5">
                            <textarea class="form-control" id="message" style="resize: none" rows="8" title=""></textarea>
                        </div>
                    </div><br><br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="submit">Отправить</button>
            </div>
        </div>
    </div>
</div>