<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/jaw/admin">
                <img src="/jaw/images/logo-small.png" width="35" height="22">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/jaw/admin/view" role="button">Главная</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="system-login">Таблицы</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/jaw/admin/user" role="button">Пользователи</a></li>
                        <li><a href="/jaw/admin/company" role="button">Компании</a></li>
                        <li><a href="/jaw/admin/project" role="button">Проекты</a></li>
                        <li><a href="/jaw/admin/employee" role="button">Сотрудники</a></li>
                        <li><a href="/jaw/admin/group" role="button">Группы</a></li>
                        <li><a href="/jaw/admin/privilege" role="button">Привилегии</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="system-login">Связи</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/jaw/admin/employeegroup" role="button">Сотрудники - Группы</a></li>
                        <li><a href="/jaw/admin/groupprivilege" role="button">Группа - Привилегия</a></li>
                        <li><a href="/jaw/admin/productemployee" role="button">Продукт - Сотрудник</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="system-login">${this.getLogin()}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Настройки</a></li>
##                        <li><a href="javascript:void(0)" class="dark-interface">
##                            <div>Темный интерфейс</div>
##                        </a></li>
                        <li><a href="/jaw">Закрыть сессию</a></li>
                        <li><a class="logout" href="javascript:void(0)">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav><br><br><br>