<form class="jaw-form" id="$!{id}" action="$!{action}" data-form="$!{form}">
<div class="row">
<div class="col-md-12">
#foreach ($field in $config)
    <div class="col-md-12 form-group $!{field.required}">
        <label class="control-label col-md-5">${field.text}</label>
        <div class="col-md-7">
            #if ($field.type.equals("select"))
                <select name="${field.id}" id="${field.id}" class="form-control">
                    <option value="-1">Нет</option>
                    #foreach ($value in $field.data)
                        <option value="$value.id">$value.value</option>
                    #end
                </select>
            #elseif ($field.type.equals("textarea"))
                <textarea name="${field.id}" id="${field.id}" class="form-control" placeholder="${field.text}"></textarea>
            #else
                <input name="${field.id}" id="${field.id}" type="${field.type}" class="form-control" placeholder="${field.text}">
            #end
        </div>
    </div><br>
#end
</div>
</div>
</form>