<table class="table table-striped table-bordered ticket-table">
    <thead>
    <tr>
        <td><b>Номер</b></td>
        <td><b>Название</b></td>
        <td><b>Проект</b></td>
        <td><b>Приоритет</b></td>
        <td><b>Создан</b></td>
    </tr>
    </thead>
    <tbody>
	#foreach ($ticket in $tickets.entrySet())
		
	#end
	#if ($tickets.size() == 0)
		<tr>
			<td colspan="5" align="middle">
				<h4>Нет активных задач</h4>
			</td>
		</tr>
	#end
	</tbody>
</table>